<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div id="main">
        
        <h1>LISTADO DE USUARIOS OBTENIDOS DESDE API</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Compañia</th>
                <th scope="col">Telefono</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="per in personas" >
                <td>{{per.id}}</td>
                <td>{{per.name}}</td>
                <td>{{per.username}}</td>
                <td>{{per.email}}</td>
                <td>{{per.company.name}}</td>
                <td>{{per.phone}}</td>
            </tr>
            </tbody>   
        </table>
        <h1>Nombre:</h1>
        <!-- <ul>
            <li v-for="item in personas">
                {{item.name}}  
            </li>
            
        </ul> -->

    </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/apiconaxios/main.js"></script>
</body>

</html>